<div class="split-layout">
    <div class="d-flex flex-column overflow-hidden">
        <app-stats-card> </app-stats-card>
    </div>
    <div class="d-flex flex-grow-1 overflow-hidden right-panel">
        <!-- Queue -->
        <app-patient-queue [patients]="patients" [selectedPatientId]="selectedPatientId"
            (selectPatient)="onSelectPatient($event)" [queueLabel]="selectedQueue" *ngIf="!isSidebarOpen">
        </app-patient-queue>

        <div class="flex-grow-1 d-flex flex-column overflow-hidden bg-white h-100">
            <ng-container *ngIf="patient;">
                <app-patient-info [patient]="patient" [case]="patient.case" class="flex-shrink-0">
                    <!-- Prevent shrinking -->
                </app-patient-info>
            </ng-container>

            <!-- <app-patient-journey> </app-patient-journey> -->

            <app-split-window> </app-split-window>

            <!-- Tabs Navigation -->
           

            <!-- <ng-template #splitTemplate>
                <app-patient-summary (close)="timelineCloseModal()"></app-patient-summary>
            </ng-template> -->
        </div>
    </div>
</div>