<div class="sidebar-container bg-light d-flex flex-column h-100">
    <!-- Queue List with Scroll -->
    <div class="flex-grow-1 overflow-y-auto custom-scrollbar">
        <div class="queue-sidebar">
            <div class="queue-item" *ngFor="let item of queueItems" (click)="selectQueue.emit(item.label)"
                [class.active]="selectedQueue === item.label">

                <span class="queue-count">{{ item.count }}</span>
                <span class="queue-label">{{ item.label }}</span>
            </div>
        </div>
    </div>
</div>