@if(patient){
<div class="patient-card bg-white shadow-sm border rounded-3">
    <div class="p-2 px-3 d-flex align-items-center justify-content-between">

        <div class="d-flex align-items-center gap-3 border-end pe-4" style="min-width: 300px;">
            <div class="avatar-wrap">
                <img src="assets/images/patient-profile.png" [alt]="patient.name" class="img">
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex align-items-center gap-2">
                    <h5 class="mb-0 fw-bold text-dark fs-4">{{ patient.name }}</h5>
                    <button class="btn btn-link p-0 text-muted hover-blue" title="Copy Name"><i
                            class="bi bi-copy small"></i></button>
                </div>
                <div class="d-flex align-items-center gap-2 mt-1">
                    <span class="text-muted opacity-75 small">({{ patient.gender }} | {{ patient.age }}Y)</span>

                </div>
                <!-- <div class="d-flex align-items-center gap-2 mt-2">
                    <span class="badge success">Checked In</span>
                    <span class="badge success">Review</span>
                    <span class="badge warning">Paid</span>
                </div> -->
            </div>
        </div>

        <div class="flex-grow-1 px-4">
            <div class="row g-0 align-items-center">
                <div class="col-md-4 border-end px-3">
                    <div class="saas-value text-truncate">
                        <label class="saas-label"> MRN</label>
                        {{patient.mr_no}} 
                        <button class="btn btn-link p-0 text-muted hover-blue" title="Copy MRN">
                            <i class="bi bi-copy small"></i>
                        </button>
                    </div>
                    <div class="saas-value text-truncate mt-2">
                        <label class="saas-label">Phone Number</label>
                        {{patient.phone || 'None'}}
                        <button class="btn btn-link p-0 text-muted hover-blue"title="Copy Number">
                            <i class="bi bi-copy small"></i>
                        </button>
                    </div>
                </div>

                <div class="col-md-4 border-end px-3">
                    <div>
                        <label class="saas-label">Referral</label>
                        <div class="saas-value">{{caseData.patient_referral ||'Self' }}</div>
                    </div>
                    <div class="mt-2">
                        <label class="saas-label">Reg. Date</label>
                        <div class="saas-value">{{ caseData.visit_date | date:'mediumDate' }}</div>
                    </div>
                </div>

                <div class="col-md-4 border-end px-3">

                    <label class="saas-label">Previous surgery</label>
                    <div class="saas-value">{{ patient.previous_surgery || 'None' }}</div>
                    <div class="mt-2">
                        <label class="saas-label">Previous Diagnosis</label>
                        <div class="saas-value">{{ patient.previous_diagnosis || 'None'}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center gap-2  ps-3" style="min-width: 180px;">
            <button class="btn btn-primary btn-saas-main fw-bold">Get Patent</button>
        </div>
        <button (click)="openJourneyButton('vertical', true)" class="btn  btn-saas-icon" title="View Patient Journey">
            <i class="bi bi-arrow-down-short"></i>
        </button>
        <button (click)="openJourneyButton('horizontal', true)" class="btn  btn-saas-icon" title="View Patient Journey">
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>
</div>
}