<section class="container">
    <div class="card">
        <div class="card-body">
            <div class="row g-3 ptb-300">
                <div class="col-xs-12 text-center">
                    <h1 class="error-text">Forbidden !!!</h1>
                    <h4 class="">You don't have permission to access this page</h4>
                    <div class=" text-underline" routerLink="/dashboard" routerLinkActive="true"><a>Go Back to
                            Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>