:host {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.vh-100 {
    height: 100vh !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.overflow-hidden {
    overflow: hidden !important;
}