:root {
    /* Vertical Tab Variables */
    --vtab-width: 97px;
    --vtab-text-default: #545759;
    --vtab-text-selected: #0054A5;
    --vtab-bg-selected: #EFF6FF;
    --spacer-03: 8px;

    /* Queue List Variables */
    --queue-width: 425px;
    --card-height: 104px;
    --card-padding: 16px 22px 16px 10px;
    --card-border-radius: 8px;
    --bg-selected-card: #F0F7FF; 
    --border-selected-card: #0375D9;
    
    /* Text Colors */
    --text-name: #011120;
    --text-gender: #5D6574;
    
    /* Patient Info Variables */
    --pi-header-color: #344256;
    --pi-bg-color: #D5DFF366; /* 40% opacity hex 66 */
    --pi-doctor-bg: rgba(20, 76, 167, 0.10); /* 10% opacity */
    
    /* Patient Journey Variables */
    --pj-title-color: #1E1E1E;
    --pj-label-color: #747B88;
    --pj-time-color: #000;
    --pj-tick-size: 16px;
}

body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    // overflow: hidden; 
}

.vh-100 {
    height: 100vh !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.overflow-hidden {
    overflow: hidden !important;
}


/* 1. SETUP: Fix the modal to the side 
Note: ngx-bootstrap applies the class to the modal-dialog element
*/
.modal-dialog.modal-left,
.modal-dialog.modal-right {
    position: fixed;
    margin: auto;
    width: 50%;
    /* Split window width */
    max-width: 50%;
    /* Override default bootstrap max-width */
    height: 100%;
    top: 0;
    bottom: 0;
}

/* Responsive: On mobile, make it full width */
@media (max-width: 768px) {

    .modal-dialog.modal-left,
    .modal-dialog.modal-right {
        width: 100%;
        max-width: 100%;
    }
}

.modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0 !important;
    /* Remove rounded corners */
    border: none !important;
}

/* 2. ANIMATIONS 
      We use the .modal.show parent class (added by bootstrap when open)
      to trigger the slide in of the .modal-dialog child.
    */

/* LEFT SIDEBAR */
.modal-dialog.modal-left {
    left: 0;
    transform: translate3d(-100%, 0, 0);
    /* Start hidden to the left */
    transition: transform 0.3s ease-out;
}

.modal.show .modal-dialog.modal-left {
    transform: translate3d(0, 0, 0);
    /* Slide in */
}

/* RIGHT SIDEBAR */
.modal-dialog.modal-right {
    right: 0;
    transform: translate3d(100%, 0, 0);
    /* Start hidden to the right */
    transition: transform 0.3s ease-out;
}

.modal.show .modal-dialog.modal-right {
    transform: translate3d(0, 0, 0);
    /* Slide in */
}




